/* App.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 25vh; /* Make the container take the full height of the viewport */
    width: 40%; 
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left:430px
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center elements */
    justify-content: center; /* Center vertically */
    width: 40%; 
    border: 2px solid #000;
    border-radius: 10px;
    margin: auto; /* Center the container horizontally */

  }
  
  .title-delete-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Make this container take the full width */
    padding: 10px; /* Add some padding for spacing */
  }
  

  .title{
    font-size:25px;
    margin-left:2.5%;
    font-weight: bold;
    flex:1;
  }

  .delete-button {
    background-color:#db3434;
    color:#fff;
    padding:15px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px; 
    margin-right: 2%;
  }

  .add-button {
    background-color:#37d925;
    color:#fff; 
    padding:10px 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px; 
    margin-left: 0%
  }

  .line {
    border-top: 2px solid rgb(0, 0, 0); /* Adjust the color and style as needed */
    margin: 10px 0; /* Adjust the margin to control the space above and below the line */
  }
  

  .centered {
    text-align: center;
  }

  .input-container {
    display: flex;
    flex-direction: row; /* Keep the inputs in a row */
    align-items: center;
    margin-top: 5px; /* Add margin to separate from the title and delete button */
  }
  .input-box {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .input-box2 {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-details {
    text-align: center;
    font-size: 20x;
  }

  .name, .phone-number {
    display: inline-block;
    border: 1px solid #000; /* Add a border around each entry */
    padding:10px 10px;
    width: 30%;
    border-radius: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
  }
  

  .my-button{
    background-color:#3498db;
    color:#fff;
    padding:10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;    
  }

  .my-button:hover{
    background-color:#1fda79;
  }
  

  .stat_button {
    background-color:grey;
    color:rgb(239, 234, 234);
    padding: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    margin-top: 10%;
    margin-left: 45%;
    width: 10%;
  } 

  .stat_container{
    display: flex;
    flex-direction: column; /* Keep the inputs in a row */
    align-items: center;
  }


  .stat_button:hover{
    background-color:rgb(38, 38, 38);
  }


  .close_button{
    background-color:grey;
    color:rgb(239, 234, 234);
    padding: 2px 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    width: 7%;
  }

  .close_button:hover{
    background-color:rgb(245, 51, 51);

  }

  .refresh_button{
    background-color:grey;
    color:rgb(239, 234, 234);
    padding: 2px 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    text-align: center;
    width: 8%;
    margin-bottom: 2%; 
  }

  .refresh_button:hover{
    background-color:rgb(38, 38, 38);

  }